.container {
    display: grid;

    /* create 6 columns with starting index 1 and give 1 fractional unit each of them */
    grid-template-columns: repeat(12, minmax(0,1fr)); 
}

header {
    background-color: chocolate;

    /* give the columns starting from 1 until 12 (right index-1) to header */
    grid-column: 1/13; 
}

nav {
    background-color: bisque;

    grid-column: 1/3;
}

main {
    background-color: cornflowerblue;

    grid-column: 3/11;
}

aside {
    background-color: darkkhaki;

    grid-column: 11/13;
}

footer {
    background-color: darkgreen;

    grid-column: 1/13;
}

h1, h2 {
    text-transform: uppercase;
}

/* Add padding to all of the .container child elements */
.container > * {
    padding: 20px;
}

/* border-box fix */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  