<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Layout</title>
    <link rel="stylesheet" href="grid.css">

    <style>
        * {
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          margin: 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <h1>Header</h1>
        </header>

        <nav>
            <h2>Nav</h2>
            <a href="#main-content">Skip navigation</a>
                <ul>
                    <li>nav item</li>
                    <li>nav item</li>
                    <li>nav item</li>
                    <li>nav item</li>
                    <li>nav item</li>
                </ul>
        </nav>

        <main id="main-content">
            <h2>Main Content</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.

                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p>
        </main>

        <aside>
            <h2>Sidebar</h2>
            <p>Related Content</p>
        </aside>

        <footer>
            <h2>Footer</h2>
        </footer>
    </div>
</body>

</html>