body {
    display: grid;

    /* 
        50vh: 50% of the visible screen 
        auto: automatic according to the content
    */
    grid-template-rows: 10em 50vh auto 5em;
    grid-template-columns: 1fr minmax(30em, 5fr) minmax(15em, 2fr) 1fr;
    grid-template-areas:
        "header header header header"
        "hero hero hero hero"
        ". main aside ."
        "footer footer footer footer";

    grid-column-gap: 1.5em;
}

header {
    grid-area: header;
    
    /* default flex-direction is row, main axis row, cross axis column */
    display: flex; 
    /* horizontal alignment center (main-axis alignment center) */
    justify-content: center;
    /* vertical alignment center (cross-axis alignment center) */
    align-items: center;

    background-color: #252525;
    color: #e9d20f;
    font-family: 'Six Caps', sans-serif;
}

.hero {
    grid-area: hero;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/gridarea-hero-bg.jpg);
}

.hero-title {
    margin: 0;

    font-size: 6rem;
    font-family: 'Six Caps', sans-serif;
}

.hero-subtitle {
    margin: 0;

    font-size: 2rem;
    font-family: 'Six Caps', sans-serif;
}

main {
    grid-area: main;
}

.card {
    display: grid;
    grid-template-areas:
        "card-img card-title"
        "card-img card-content"
    ;
    grid-template-rows: min-content auto;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1.5em;

    margin-bottom: 1.5em;
    padding: 1.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.card-img {
    grid-area: card-img;

    width: 100%;
}

.card-title {
    grid-area: card-title;
}

.card-content {
    grid-area: card-content;
}

aside {
    grid-area: aside;

    background-color: #e8e8e8;
    padding: 2em;
}

footer {
    grid-area: footer;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #252525;
    color: #e9d20f;
    font-family: 'Six Caps', sans-serif;
}

.main-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.sidebar-title {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}

p {
    margin-bottom: 1em;
}

a {
    color: #e9d20f;
}